@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

html {
    font-family: 'Nunito', sans-serif;
    background-repeat: no-repeat;
    background-color: #7986cb;
    background-image: -webkit-linear-gradient(-45deg, #3f51b5 50%, #7986cb 50%);
    background-image: linear-gradient(-45deg, #3f51b5 50%, #7986cb 50%);
    height: 1000px;
    color: #303f9f;
}

#heading {
    color: #c5cae9;
    letter-spacing: 1px;
    padding: .2px 30px;
    text-align: center;
    background-color: #283593;
}

p {
    font-weight: 600;
    padding-left: 20px;
}

.box {
    max-width: 500px;
    margin: 20px auto;
    background: #9fa8da;
    border-radius: 10px;
    box-shadow: 5px 5px 15px -5px rgba(0,0,0,0.3);
}

.item {
    font-size: 1.1rem;
    background-color: #9fa8da;
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #c5cae9;
    border-radius: 2px;
    margin: 5px;
}

.item:last-child {
    border-bottom: 0;   
}

.crud-icon {
    padding: 0 10px;
    color: #5c6bc0;
}

.crud-icon:hover {
    color: #303f9f;
}

form.new {
    padding: 10% 5%;
    text-align: center;
    background-color: #9fa8da;
    margin: 10px;
}

input[type="checkbox"] {
    zoom: 1.3;
    margin: auto 10%;
    outline: none;
}

.strikeoff {
    text-decoration: line-through;
}

input[type="text"] {
    text-align: center;
    font-size: 1.1rem;
    margin-right: 5%;
    padding: 10px 0;
    border: none;
    border-bottom: 2px solid #3f51b5; 
    background-color: #9fa8da;
    color: #303f9f;
}

input[type="text"]:focus {
    outline: none;
    border-bottom: 2px solid #303f9f;
}

button {
    height: 50px;
    width: 50px;
    position: relative;
    top: 5px;
    border-radius: 100%;
    border: none;
    background-color: #3f51b5;
    font-size: 2rem;
    color: #fbe9e7;
}

button:hover {
    background-color: #303f9f;
}

button:focus {
    outline: none;
}

footer {
    margin-top: 5%;
    color: rgba(0,0,0,.6);
    text-align: center;
}