<!DOCTYPE html>
<html>
<head>
    <title>Todo List v1</title>
    <link rel="stylesheet" type="text/css" href="./styles.css">
    <link rel="icon" type="x-icon/ico" href="./favicon.ico">
</head>
<body>