
</div>
<div class="footer-padding"></div>
  <div class="footer">
    <p>❤️ from Assam</p>
  </div>
</div>
<script type="text/javascript">
    $(".link").click(evt => {
        $(evt.target)   //link
            .parent()   //paragraph
            .parent()   //form
            .submit();
    });

    $(".delete").click(evt => {
        let form = $(evt.target)    //icon
                    .parent()       //opeartions class
                    .parent()       //post-page class
                    .parent();      //form
        form.attr("action", "/delete");
        form.submit();
    });

    $(".update").click(evt => {
        let form = $(evt.target)    //icon
                    .parent()       //opeartions class
                    .parent()       //post-page class
                    .parent();      //form
        form.attr("action", "/update");
        form.submit();
    });
</script>
</body>
</html>
