
</div>
<div class="footer-padding"></div>
  <div class="footer">
    <p>❤️ from Assam</p>
  </div>
</div>
<script type="text/javascript">
    $(".link").click(evt => {
        $(evt.target).closest("form").submit();
    });

    $(".delete").click(evt => {
        let form = $(evt.target).closest("form");
        form.attr("action", "/delete");
        form.submit();
    });

    $(".update").click(evt => {
        let form = $(evt.target).closest("form");
        form.attr("action", "/update");
        form.submit();
    });
</script>
</body>
</html>
