<!DOCTYPE html>
<html>
<head>
    <title>Todo List v2</title>
    <link rel="stylesheet" type="text/css" href="./styles.css">
    <link rel="icon" type="x-icon/ico" href="./favicon.ico">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
</head>
<body>